.topbar {
  height: 70px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;

  .logo {
    width: 20px;
  }

  .cartFocus,
  .cart {
    position: relative;
    width: 32px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #21331d;
    cursor: pointer;
    transition: all .3s;

    & > span {
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #f42d67;
      color: #fff;
      font-size: 8px;
      text-align: center;
      padding-top: 2px;
      top: 4px;
      right: 0;
    }
  }

  .cartFocus::after{
    content: "";
    width: 45px;
    height: 2px;
    display: block;
    position: absolute;
    background-color: #21331d;
    bottom: -16px;
  }
}
