.cardProduct{
  width: 170px;
  height: 229px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: relative;
  border: 1px solid #f3f3f3;
  z-index: 0;

  img{
    position: absolute;
    z-index: 2;
    top: 40px;
    width: 35px;
    height: 35px;
  }
}