@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Barlow', sans-serif !important;
  box-sizing: border-box;
  color: #21331d;
}
