@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Barlow', sans-serif !important;
  box-sizing: border-box;
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
p,
a,
label {
  color: #21331d;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: transparent;
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: #21331d40;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #21331d40;
}
@media (max-width: 425px) {
  ::-webkit-scrollbar-track {
    background: transparent;
    width: 2px;
  }
}
